@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Upload CSV file with companies information</h2>
<div ng-controller="csvImportController">
    <input type="file" id="file1" accept=".csv" name="file" multiple
           ng-files="getTheFiles($files)" />

    <div ng-view></div>

    <input type="button" ng-click="uploadFiles()" value="Upload" />

    <br />
    <br />

    <a href="/Companies">Companies Page</a>
</div>